@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  @apply text-white bg-black
}

.navContainer {
  @apply flex w-screen justify-around fixed top-0 bg-black p-10 z-5
}

ul {
  @apply flex gap-4 hidden md:flex
}

.btn {
  @apply flex gap-5
}

@layer components {
  #hero {
    @apply flex w-screen justify-center mt-40 flex-col items-center;

    img {
      @apply w-2/3
    }

    button {
      @apply w-20 bg-blue-600 rounded-full p-3 hover:bg-blue-50 hover:text-black cursor-pointer transition-all duration-300 font-semibold
    }

    p {
      @apply text-gray-400 font-semibold mt-2
    }
  }

  #productCanvas {
    @apply flex flex-col items-center min-h-[97vh] mt-6 relative;

    h1 {
      @apply text-4xl font-bold
    }

    .controllContainer {
      @apply flex flex-col items-center absolute bottom-20;

      p {
        @apply font-bold
      }

      .controlls {
        @apply flex gap-3 mt-4 z-50;

        .colorController {
          @apply flex justify-center items-center w-25 bg-gray-600 rounded-full gap-2 p-2;

          div {
            @apply bg-gray-300 w-8 h-8 rounded-full
          }

          div {
            @apply bg-black w-8 h-8 rounded-full
          }
        }

        .sizeController {
          @apply flex justify-center items-center w-25 bg-gray-600 rounded-full gap-2 text-white p-2;

          div {
            @apply flex justify-center items-center bg-gray-300 w-8 h-8 rounded-full hover:text-black;

            p {
              @apply font-bold text-sm
            }
          }

        }
      }

    }

    #canvas {
      @apply !w-full !h-[90vh] lg:!h-[90vh] relative z-40
    }

    #performance{
      @apply w-dvw h-full overflow-hidden pt-20 flex flex-col items-center relative;

      h2{
        @apply text-3xl font-bold lg:text-6xl max-w-2xl text-center;
      }

      .imgWrapper {
        @apply w-7xl 2xl:w-[100rem] h-[50vh] lg:h-screen relative;

        img {
          @apply max-w-40 lg:max-w-[27rem] 2xl:max-w-[35rem] object-cover object-center;
        }

        .img1 {
          @apply absolute bottom-1/2 left-[23%] z-[1] max-sm:left-[33%];
        }

        .img2 {
          @apply absolute bottom-[40%] right-[17%] z-[3] max-sm:right-[37%];
        }

        .img3 {
          @apply absolute bottom-1/4 right-[15%] z-[2] max-sm:right-[35%];
        }

        .img4 {
          @apply absolute bottom-1/2 right-[25%] z-[1] max-sm:right-[34%];
        }

        .img5 {
          @apply absolute bottom-1/2 left-[18%] z-[0] max-sm:left-[38%];
        }

        .img6 {
          @apply absolute bottom-1/2 left-[20%] z-[2] max-sm:left-[30%];
        }

        .img7 {
          @apply absolute bottom-1/2 left-[12%] z-[4] max-sm:left-[36%];
        }
      }
    }
  }
}